@font-face {
    font-family: "Batman-title";
    src: url(../assets/font/titles/TitlingGothicFBComp-Medium.ttf);
}

@font-face {
    font-family: "Batman-bold";
    src: url(../assets/font/inline/URWDIN-Bold.eot);
}

@font-face {
    font-family: "Batman-italic";
    src: url(../assets/font/inline/URWDIN-Italic.ttf);
}

@font-face {
    font-family: "Batman-bold-italic";
    src: url(../assets/font/inline/URWDIN-BoldItalic.ttf);
}

@font-face {
    font-family: "Batman-regular";
    src: url(../assets/font/inline/URWDIN-Regular.ttf);
}

@font-face {
    font-family: "Batman-window-header";
    src: url(../assets/font/window_header/MysticalType\ -\ Nata-Heavy.otf);
}

h1,
h2,
h3 {
    font-family: "Batman-title";
    text-transform: uppercase;
}

h4,
h5,
h6 {
    font-family: "Batman-bold";
}

i,
a,
em {
    font-family: "Batman-italic";
}

b,
strong {
    font-family: "Batman-bold";
}

u {
    font-family: "Batman-bold-italic";
}

body {
    font-family: "Batman-regular";
}