:root {
    --color-text-light-highlight: #e9d4f5;
    --color-text-light-heading: #fefffb;
    --color-text-light-primary: #cbaee7;
    --color-ownership-none: #cbaee7;
    --color-text-dark-primary: #0d0c0f;
    --color-text-dark-secondary: #1a151e;
    --color-text-dark-header: #231d28;
    --color-text-dark-inactive: #2e2734;
    --color-text-hyperlink: #590fc9;
    --color-text-light-0: #ceb3b3;
    --color-text-light-1: #ffffff;
    --color-text-light-2: #8a8491;
    --color-text-light-3: #918c96;
    --color-text-light-4: #514e54;
    --color-text-light-5: #635f66;
    --color-text-light-6: #756f78;
    --color-text-light-7: #877f8a;
    --color-text-dark-1: #0d0d0d;
    --color-text-dark-2: #1a1a1a;
    --color-text-dark-3: #262626;
    --color-text-dark-4: #333333;
    --color-text-dark-5: #404040;
    --color-text-dark-6: #4c4c4c;
    --color-border-light-1: #4a3e51;
    --color-border-light-2: #634d74;
    --color-border-dark-1: #0d0c0f;
    --color-border-dark-2: #1a151e;
    --color-border-dark-3: #231d28;
    --color-border-dark-4: #2e2734;
    --color-border-dark-5: #3a313f;
    --color-shadow-primary: #4a3e51;
    --color-shadow-highlight: #9882b8;
    --color-shadow-dark: #413e3e;
    --color-underline-inactive: #2e2734;
    --color-underline-active: #4a3e51;
    --color-underline-header: #5c4e71;
    --color-border-light-highlight: #8d59ac;
    --color-border-light-primary: #68438d;
    --color-border-light-secondary: #868533;
    --color-border-light-tertiary: #320e74;
    --color-border-dark: #0a0a0a;
    --color-border-dark-primary: #0d0c0f;
    --color-border-dark-secondary: #231d28;
    --color-border-dark-tertiary: #1a151e;
    --color-border-highlight: #3e2c5a;
    --color-border-highlight-alt: #4a3e51;
    --color-bg-btn-minor-inactive: #3e3346;
    --color-bg-btn-minor-active: #322a3a;
    --color-bg-option: #797979;
    --color-checkbox-checked: #4a3e51;
    --color-ownership-observer: #2e2734;
    --color-ownership-owner: #322a3a;
    --z-index-canvas: 0;
    --z-index-app: 30;
    --z-index-ui: 60;
    --z-index-window: 100;
    --z-index-tooltip: 9999;
    --sidebar-width: 360px;
    --sidebar-header-height: 32px;
    --sidebar-item-height: 48px;
    --hotbar-height: 52px;
    --hotbar-width: 578px;
    --macro-size: 50px;
    --players-width: 200px;
    --form-field-height: 26px;
    --font-primary: "Signika", sans-serif;
    --font-mono: monospace;
    --font-awesome: "Font Awesome 6 Pro";
    --font-size-11: 0.6875rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-48: 3rem;
    --line-height-12: 0.75rem;
    --line-height-16: 1rem;
    --line-height-20: 1.25rem;
    --line-height-30: 1.875rem;
    --color-level-info: #705480;
    --color-level-warning: #a2a369;
    --color-level-error: #723d3d;
    --color-level-success: #4a773f;
}

::-webkit-scrollbar-thumb {
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    border-radius: 3px;
    background: #782e22;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(140, 0, 255);
    border: 1px solid var(--color-border-highlight);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}